h1 {
  font-family: "Ranchers", cursive;
}

.icon-container {
  max-height: 25px;
  max-width: 25px;
  cursor: pointer;
}
.icon-container > img {
  max-height: 25px;
  max-width: 25px;
}

.icon-selected {
  background: rgba(0, 0, 0, 0.5);
}

#saved {
  max-width: 800px;
  height: 150px;
  overflow: scroll;
  white-space: nowrap;
}

#saved > .gm-thumb {
  background: white;
  max-width: 200px;
  height: 100%;
  position: relative;
}

.delete {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.download {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#saved img {
  max-width: 195px;
}
