h1 {
  font-family: "Ranchers", cursive;
}

.icon-container {
  max-height: 25px;
  max-width: 25px;
  cursor: pointer;
}
.icon-container > img {
  max-height: 25px;
  max-width: 25px;
}

.icon-selected {
  background: rgba(0, 0, 0, 0.5);
}

#saved {
  max-width: 800px;
  height: 150px;
  overflow: scroll;
  white-space: nowrap;
}

#saved > img {
  background: white;
  max-width: 200px;
}
